#headertitle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(49, 49, 49);
    font-weight: 650;
    font-size: 22px;
    text-transform: uppercase;
    cursor: pointer;
}
.navitem{
    
    color: rgb(66, 66, 66);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    transition: color 0.3s ease;
    position: relative;
    text-decoration: none;
}
.navitem::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background: linear-gradient(to right, #007cf0, #00dfd8);
  transition: width 0.4s ease;
}
.navitem:hover::after {
  width: 100%;
}

.headerelementsresize{
    display: flex;
    gap: 30px;
     list-style: none;
     margin-top: 5px;
    
}
.headerbox{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    justify-content: space-around;
    position: fixed;
    width: 100%;
}
