#imagedesigns{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    margin-left: 200px;
}
#imageone{
    background-image: url('01-large.jpg');
    width: 300px;
    height: 210px;
    background-size: cover;
}
#imagetwo{
    background-image: url('02-large.jpg');
    width: 300px;
    height: 210px;
    background-size: cover;
}
#imagethree{
    background-image: url('03-large.jpg');
    width: 300px;
    height: 210px;
    background-size: cover;
}
#imagefour{
    background-image: url('04-large.jpg');
    width: 300px;
    height: 210px;
    background-size: cover;
}
#imagefive{
    background-image: url('05-large.jpg');
    width: 300px;
    height: 210px;
    background-size: cover;
}
#imagesix{
    background-image: url('06-large.jpg');
    width: 300px;
    height: 210px;
    background-size: cover;
}
#imageseven{
    background-image: url('07-large.jpg');
    width: 300px;
    height: 210px;
    background-size: cover;
}
#imageeight{
    background-image: url('08-large.jpg');
    width: 300px;
    height: 210px;
    background-size: cover;
}
#imagenine{
    background-image: url('09-large.jpg');
    width: 300px;
    height: 210px;
    background-size: cover;
}
#gallery{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    
}
#gallery::after{
    display: block;
    width: 60px;
    height: 4px;
    background-image: linear-gradient(to right, rgb(99, 114, 255) 0%, rgb(92, 169, 251) 100%);
    content: '';
    margin-left: 640px;
    
}

#gallerytext{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(141, 141, 141);
    text-align: center;

}
#main{
    padding-top: 60px;
    padding-bottom: 60px;
}